langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.10
python-dotenv>=1.0.0
pydantic>=2.0.0

fastapi>=0.110
uvicorn>=0.20
python-multipart>=0.0.5
pdfkit>=1.0.0
twilio>=7.0.0
requests>=2.0
